.fa-book {
    margin-right: 5px;
    color: dimgray;
    font-size: 2em;
}

.welcome {
    padding: 5px;
    background-color: #e0f2ff;
    border-color: #e0f2ff;
    text-align: -webkit-center;
}
.welcome-text { 
    padding: 5px;
    color: #000;
}
body {
    font-family: Arial;
    font-size: 0.9em;
}
#logo {
    background: url("../img/logo_transparent_1.png");
    width: 500px;
    height: 500px;
}
