body {
    padding-top: 56px;
}

.fa-book {
    margin-right: 5px;
    color: dimgray;
    font-size: 2em;
}

.welcome {
    padding: 5px;
    background-color: #e0f2ff;
    border-color: #e0f2ff;
    text-align: -webkit-center;
}

.welcome-text {
    padding: 5px;
    color: #000;
}

body {
    font-family: Arial;
    font-size: 0.9em;
}

#logo {
    background: url("../img/logo_transparent_1.png");
    width: 500px;
    height: 500px;
}

footer.footer {
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.card-img-top img{
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    height: 196px;
    width: 296px;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,2555);
    font-weight: bold;
}
.bg-header {
    background-color: #f3f3f3 !important;
}
.bg-subtle {
    background-color: #e1e3e8 !important;
}
.navbar-light {
    font-weight: bold;
}