
  <body>
   <!-- Navigation -->
     {% include navigation.html %}
    <!-- Masthead -->
    <header class="masthead text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h1 class="mb-5">Looking for projects, learning C#, finding tips, tricks on Dynamics? Send me a tweet</h1>
          </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <form>
              <div class="form-row">
                <div class="col-12 col-md-9 mb-2 mb-md-0">
                <!--  <input type="email" class="form-control form-control-lg" placeholder="Enter your email..."> -->
                </div>
                <div class="col-12 col-md-3">
                  <!--<button type="submit" class="btn btn-block btn-lg btn-primary">Sign up!</button> -->
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </header>

    <section class="testimonials text-center bg-light">
        <div class="container">
            <h2 class="mb-5">Latest Posts</h2>
                <div class="row">
                    {% for post in site.posts %}
                    {% for category_name in post.categories %}
                      {% if category_name == "dynamicscrmsdk" %}
                      <div class="col-sm-1"><div class="post-title-icon"><i class="fas fa-book"></i></div></div>
                      <div class="col-sm-5">
                        <div class="post-title">
                         <a href="{{ post.url }}">{{ post.title }} </a><br>
                            {{ post.PostDate | date: "%b %d, %y" }} | <i class="ag_categories">{{ post.ag_categories}} </i></div>
                          </div>
                      {% endif %}
                    {% endfor %}
                    {% endfor %}
                </div>
        </div>
    </section>


  <!-- Icons Grid -->
  <section class="features-icons bg-light text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-screen-desktop m-auto text-primary"></i>
              </div>
              <h3>Programming</h3>
              <p class="lead mb-0">Code Samples for different languages like JavaScripts, C#, Python, Java, HTML and more..</p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-layers m-auto text-primary"></i>
              </div>
              <h3>Travel</h3>
              <p class="lead mb-0">Sharing my traveling experiences when traveling around the world</p>
            </div>
          </div>

        </div>
      </div>
    </section>


  

    <!-- Image Showcases -->
    <section class="showcase">
      <div class="container-fluid p-0">

        <div class="row no-gutters">
          <div class="col-lg-6 text-white showcase-img" style="background-image: url('img/bg-showcase-2.jpg');"></div>
          <div class="col-lg-6 my-auto showcase-text">
            <h2>Code Samples</h2>
            <p class="lead mb-0">Code Samples for different languages like JavaScripts, C#, Python, Java, HTML and more.. </p>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('img/bg-showcase-3.jpg');"></div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <h2>Travel Guides</h2>
            <p class="lead mb-0">Sharing my traveling experiences when traveling around the world</p>
          </div>
        </div>
      </div>
    </section>


    <!-- Footer -->
    <footer class="footer bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
            <ul class="list-inline mb-2">
              <li class="list-inline-item">
                <a href="/about">About</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Contact</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Terms of Use</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Privacy Policy</a>
              </li>
            </ul>
            <p class="text-muted small mb-4 mb-lg-0">&copy; apurvghai.com 2018. All Rights Reserved.</p>
          </div>
          <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
            <ul class="list-inline mb-0">
              <li class="list-inline-item mr-3">
                <a href="https://www.linkedin.com/in/apurvghai/"  target="_blank">
                  <i class="fab fa-linkedin fa-2x fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item mr-3">
                <a href="https://www.twitter.com/apurvghai/"  target="_blank">
                  <i class="fab fa-twitter-square fa-2x fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.instagram.com/apurvghai/"  target="_blank">
                  <i class="fab fa-instagram fa-2x fa-fw"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

  {% include scripts.html %}

  </body>

</html>
