<!-- Top Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top shadow-sm">
  <div class="container">
    <a class="navbar-brand fw-bold" href="/">{{ site.title }}</a>
    <form class="d-flex ms-auto me-3" role="search">
      {% include google-search.html %}
    </form>
    <button title="nav-bar" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarMenu">
      <ul class="navbar-nav ms-auto align-items-center">
        <li class="nav-item ag_nav-text"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item ag_nav-text-new"><a class="nav-link" href="{{ site.substack_url }}" target="_blank" rel="noopener"
            data-toggle="tooltip" data-placement="bottom" title="Apurv's Sandbox on Substack">Blogs</a></li>
        <li class="nav-item ag_nav-text"><a class="nav-link" href="/programming.html">Archive ({{ site.posts.size
            }})</a></li>
        <li class="nav-item ag_nav-text"><a class="nav-link" target="_blank" rel="noopener"
            href="{{ site.substack_url }}/p/about">About</a></li>

        <li class="nav-item d-flex align-items-center ms-2">
          <a href="https://x.com/apurvghai" class="nav-link px-2" data-toggle="tooltip" data-placement="bottom"
            title="@apurvghai on X" rel="noopener" target="_blank"><i class="bi bi-twitter-x"></i></a>
          
            <a href="https://www.linkedin.com/in/apurvghai/" class="nav-link px-2" data-toggle="tooltip" data-placement="bottom"
            title="View My Profile @ LinkedIn" rel="noopener" target="_blank"><i class="bi bi-linkedin"></i></a>

          <a href="https://github.com/apurvghai" target="_blank" rel="noopener" class="nav-link px-2" target="_blank"
            data-toggle="tooltip" data-placement="bottom" title="View my contributions on github"><i
              class="bi bi-github"></i></a>

          <a href="/feed.xml" rel="noopener" class="nav-link px-2" data-toggle="tooltip" data-placement="bottom"
            title="RSS Feed"><i class="bi bi-rss" target="_blank"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>