<nav class="navbar navbar-expand-lg navbar-dark pt-4">
  <div class="container">
    <a class="navbar-brand fw-bold" href="#">APURV GHAI</a>
    <div class="ms-auto d-flex align-items-center">
      <a href="/" class="text-white text-decoration-none me-4 small">Home</a>
      {% if page.url == "/" %}
        <a href="/#sandbox" class="text-white text-decoration-none me-4 small">Blogs</a>
      {% else %}
        <a href="https://blogs.apurvghai.com" class="text-white text-decoration-none me-4 small">Blogs</a>
      {% endif %}
      <a href="/#archive" class="text-white text-decoration-none me-4 small">Archive</a>
      <a href="{{ site.substack_subscribe_url }}" class="btn btn-ms btn-sm">Join Substack</a>
    </div>
  </div>
</nav>