<nav class="navbar navbar-expand-lg pt-4" style="background: transparent;">
  <div class="container">
    <a class="navbar-brand fw-bold text-white tracking-wider" href="#">APURV GHAI</a>
    <div class="ms-auto d-flex align-items-center gap-4">
      <a href="/" class="nav-link-custom">Home</a>
      {% if page.url == "/" %}
      <a href="/#sandbox" class="nav-link-custom">Blogs</a>
      {% else %}
      <a href="https://blogs.apurvghai.com" class="nav-link-custom">Blogs</a>
      {% endif %}
      <a href="/#archive" class="nav-link-custom">Archive</a>
      <a href="{{ site.substack_subscribe_url }}" class="btn-primary-tech btn-sm py-2 px-3 text-white"
        style="text-decoration: none;">Join Substack</a>
    </div>
  </div>
</nav>