{% assign currentPageCategory = page.category %}
<h4 class="section-title post-title">Recent Posts</h4>
<div class="row g-3 flex-wrap">

    <div class="col-md-12">
        <div class="category-box align-items-center p-3 rounded shadow-sm">

            {% for post in site.posts limit: 10%}
            {% for category_name in post.category %}
            {% if category_name == currentPageCategory %}

            <p class="post-subtitle" title="{{ post.title }}" data-toggle="tooltip" data-placement="bottom">
                <a href="{{ post.url }}" target="_blank" rel="noopener" data-placement="bottom">{{ post.title }}</a>
                <br /><span class="ag_categories post-date"><i class="fas fa-calendar"></i>&nbsp;&nbsp;<span
                        class="post-date">{{
                        post.PostDate |
                        date: "%b %d, %y" }} by {{ post.author }}</span>
                </span>
            </p>

            {% endif %}
            {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>