<div class="card my-4">
  <h5 class="card-header">Connect</h5>
  <div class="card-body">
    <div class="row">
      <div class="col-lg-5">
          <a href="https://twitter.com/apurvghai?ref_src=twsrc%5Etfw" 
          class="twitter-follow-button"
           data-show-count="false">Follow @apurvghai</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
      <div class="col-lg-2"><a href="https://www.linkedin.com/in/apurvghai/"  target="_blank">
        <i class="fab fa-linkedin fa-2x fa-fw"></i>
      </a></div>      

      <div class="col-lg-2"><a href="https://www.facebook.com/apurv.ghai/" target="_blank">
        <i class="fab fa-facebook-square fa-2x fa-fw"></i>
      </a></div>   
    </div>
  </div>
</div>
