

<div class="col-lg-12">
    <a href="https://twitter.com/apurvghai?ref_src=twsrc%5Etfw"
       class="twitter-follow-button"
       data-show-count="true" target="_blank">Follow @apurvghai</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
<div class="row"></div>

<div class="col-lg-12">
    <a href="https://www.linkedin.com/in/apurvghai/" target="_blank">
        <i class="fab fa-linkedin fa-2x fa-fw"></i>
    </a>
</div>
<div class="row"></div>

<div class="col-lg-12">
    <a href="https://www.facebook.com/apurv.ghai/" target="_blank">
        <i class="fab fa-facebook-square fa-2x fa-fw"></i>
    </a>
</div><div class="row"></div>



