<!-- Top Navbar -->
{% include navigation.html %}

<!-- Banner -->
<section class="banner-section bg-light">
  <div
    class="container d-flex flex-column flex-md-row align-items-center justify-content-between text-center text-md-start"
    style="padding: 55px; margin-top:15px; margin-bottom: 30px;">
    <div class="banner-text">
      <h3>Hello,</span><br>Welcome to my blog</h3>
      <p class="lead">Explore my latest posts on web development,<br>programming, and tips and tricks.</p>
    </div>

    <div class="image-wrapper position-relative mb-4">
      <img src="/img/miniature-workmen-repairing-laptop-keyboard.jpg" alt="Descriptive alt text" class="img-fluid rounded" width="600">
      <small class="image-attribution position-absolute bottom-0 end-0 m-2" style="color: white !important;">
        Photo by <a href="https://www.freepik.com.com" target="_blank" rel="noopener" style="color: white !important;" >freepik.com</a>
      </small>
    </div>
    
  </div>
</section>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NGP8ZTNV"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->