<!DOCTYPE html>
<html lang="en">
<head>
    {% include metatags.html %}
    {% include theme.html %}
    {% include googleanalytics.html %}
    <!-- Custom styles for this template -->
    <link href="/css/landing-custom.css" rel="stylesheet">
<link href="/css/blog-post.css" rel="stylesheet">
</head>
   
<body>
    <!-- Navigation -->
    {% include navigation.html %}
    
    <!-- Page  -->
    <div class="container">
         <!-- Header -->
        <div class="row head-banner">
            <div class="col-lg-12">
                <h3>{{ page.title }} </h3>  
            </div>
        </div>
        <div class="row">
            
            <!-- Post Content Column -->
            <div class="col-lg-8">
                {% if page.author == "apurvghai"  %}
                <!-- Author information -->
                <p class="lead">
                    {{ page.PostDate }} <b></b>|<b></b>  {{ page.author }} <b></b> | {{ page.ag_categories}} | <b></b> {{page.lang}}
                    {% include jsondata.html %}
                    {% endif  %}
                </p>
                <hr>

                <!-- Post Content -->
                {{ content }}
                <hr>

            </div>

            <!-- Sidebar Widgets Column -->
            <div class="col-lg-4">
                   <h5 class="card-title"><strong>Recent Posts</strong></h5>
                    <div class="card-body">
                        <span class="card-text">
                            {% assign currentPageCategory = page.ag_categories %}
                            {% for post in site.posts limit: 10%}
                            {% for category_name in post.ag_categories %}
                            {% if category_name == currentPageCategory %}
                            <div class="post-title">
                                <a href="{{ post.url }}">{{ post.title }} </a><br>
                                {{ post.PostDate | date: "%b %d, %y" }} | <i class="ag_categories">{{ post.ag_categories}} </i>
                            </div>
                            {% endif %}
                            {% endfor %}
                            {% endfor %}
                        </span>
                    </div>
            </div>

        </div>
        <!-- /.row -->
        <!-- disqus -->
        {% if page.author == "apurvghai"  %}
        {% include disqus.html %}
        {% endif  %}
    </div>
    <!-- /.container -->
    <!-- Footer -->
    {% include footer.html %}

    <!-- Bootstrap core JavaScript -->
    {% include scripts.html %}

</body>
   
   </html>