<!DOCTYPE html>
<html lang="en">
<head>
    {% include metatags.html %}
    {% include theme.html %}
    {% include googleanalytics.html %}
    <!-- Custom styles for this template -->
    <link href="/css/landing-custom.css" rel="stylesheet">
<link href="/css/blog-post.css" rel="stylesheet">
</head>
   
<body>
    <!-- Navigation -->
    {% include navigation.html %}
    <!-- Header -->
    
       
    <!-- Page  -->
    <div class="container">
        <div class="row" style="margin-top: 60px;">
            <div class="col-lg-12">
                <h3>{{ page.title }} </h3>  
            </div>
        </div>
        <div class="row">

            <!-- Post Content Column -->
            <div class="col-lg-12">
                {% if page.author == "apurvghai"  %}
                <!-- Author information -->
                <p class="lead">
                    {{ page.PostDate }} <b></b>|<b></b>  {{ page.author }} <b></b>|<b></b> {{page.lang}}
                    {% include jsondata.html %}
                    {% endif  %}
                </p>

                <hr>
                <p>
                    {% include breadcrumb.html %}
                </p>


                <!-- Post Content -->
                {{ content }}
                <hr>

            </div>

            <!-- Sidebar Widgets Column -->
            <div class="col-md-4">



            </div>

        </div>
        <!-- /.row -->
        <!-- disqus -->
        {% if page.author == "apurvghai"  %}
        {% include disqus.html %}

        {% endif  %}
    </div>
    <!-- /.container -->
    <!-- Footer -->
    {% include footer.html %}

    <!-- Bootstrap core JavaScript -->
    {% include scripts.html %}

</body>
   
   </html>