<!DOCTYPE html>
<html lang="en">
<head>
    {% include metatags.html %}
    {% include theme.html %}
    {% include googleanalytics.html %}
    
    <!-- Custom styles for this template -->
    <link href="/css/landing-custom.css" rel="stylesheet">
    <link href="/css/blog-post.css" rel="stylesheet">
    <script async src="https://cse.google.com/cse.js?cx=007025087230605707219:h2w89kj8c6z"></script>
</head>
   
<body>
    <!-- Navigation -->
    {% include navigation.html %}
    

    <!-- Page Content -->
    <div class="container">
        <div class="row head-banner">
            <div class="col-lg-12">
                <h3>{{ page.title }} </h3>  
            </div>
        </div>
        <div class="row">
            <!-- Post Content Column -->
            <div class="col-lg-12">
                
                <div class="gcse-searchresults-only"></div>
                
            </div>
        </div>
        <!-- /.row -->
        <!-- disqus -->
    </div>
    <!-- /.container -->
    <!-- Footer -->
    {% include footer.html %}

    <!-- Bootstrap core JavaScript -->
    {% include scripts.html %}

</body>
   
   </html>

